.Hindi{
    font-family: "Tiro Devanagari Hindi", serif;
}
.Sanskrit{
    font-family: "Tiro Devanagari Hindi", serif;
}

.tiro-devanagari-hindi-regular {
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tiro-devanagari-hindi-regular-italic {
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: italic;
  }
  